footer{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    place-content: bottom;
    position:fixed;
    bottom:0;
    width:100%;
}

img{
    border-radius: 10%;
    margin: 0 auto;
    width: 5%;
    height: 50%;
}